<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Appraisal System</title>
</head>
<body>
    <h1>Welcome to Faculty Appraisal System</h1>
   <button onclick="window.location.href='flogin.html'"> Faculty login</button>
   <button onclick="window.location.href='hlogin.html'">HOD Login</button>

    <button onclick="window.location.href='dlogin.html'">Director Login</button>
</body>
</html>
